<h2>Perfil del usuario</h2>

<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Edad: {{user.age}}</p>
<p>Correo Electrónico: {{user.email}}</p>
<br>
<a href="/api/sessions/logout">Cerrar Sesión</a></br>
<hr>