<h3>Servicios</h3>
<div>
    <h2>Bienvenido</h2>
    
    <ul id="productsBox">
        {{#each products}}
            <li>Servicio: {{this.title}} - Código: {{this.code}} - Precio: {{this.price}}</li>
            <hr />
        {{/each}}
    </ul>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>