<h2>Página para iniciar sesión</h2>

<form method="post" action="/api/sessions/login">

    <input type="email" placeholder="Correo Electrónico" name="email" id="emailFieldLogin">
    <br></br>
    <input type="password" placeholder="Contraseña" name="password">
    <br></br>
    <button type="submit" id="btn_login">Iniciar sesión</button>
</form>
<hr>

<a href="/forgot-password">
    Olvidé mi contraseña
</a>

<script src="js/login.js"></script>

{{!-- <br></br>

<a href="api/sessions/github">
        <button>
            Inicia Sesión con Github
        </button>
</a>

<br></br> --}}

