<h5>Página principal</h5>
<div>
    <h2>Bienvenido</h2>
	<hr />
	<h4>Agregar Servicio:</h4>
        
    <form id="productForm">
		<input type="text" placeholder="Servicio" name="title" />
		<input type="text" placeholder="Descripción" name="description" />
		<input type="text" placeholder="Código" name="code" />
		<input type="text" placeholder="Precio" name="price" />
		<input type="text" placeholder="Stock" name="stock" />
		<input type="text" placeholder="Categoría" name="category" />
		<input type="text" placeholder="URL de imágen" name="thumbnails" /><br>
		<br><button type="submit">Agregar Producto</button><br>
	<hr />
	
	<h4>Borrar Servicio:</h4>
	<input type="text" id= "idProduct" placeholder="id">
	<button id="deleteProduct">borrar Producto</button>
	<hr />

	<div id="getProducts"></div>

	</form>
	

<script src="socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
