<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/login">Login</a>
        <a href="/register">Registrarse</a>
        <a href="/products?page=1">Productos</a>
        <a href="/cart/6484e1808100375e3505a9ac">Carrito</a>
    </nav>
    {{{body}}}
    <br>
    <div style="background-color: #adb5bd;">©2023 - Carlos Falcón | Todos los derechos reservados.</div>
</body>
</html>